.photoram {
  background-color: white;
  padding: 20px 20px 0px 20px; 
}

.photo-bx {
  text-align: center;
}

.photo-slider {
  margin: 0 auto;
  position: relative;
}

.photo-slider .item {
  margin: 0 auto 15px auto;
}