.photoram {
  background-color: white;
  padding: 20px 20px 40px 20px; 
}
.skill-bx {
  text-align: center;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item {
  width: 50%;
  margin: 0 auto 15px auto;
}