.photoram-sm {
  padding: 25px 25px 6rem 25px; 
}

.photoram-xs {
  padding: 20px 20px 5rem 20px; 
}

.photoram-2xs {
  padding: 15px 15px 4rem 15px; 
}
.photoram-3xs {
  padding: 13px 13px 3.5rem 13px; 
}

.photoram-sm, .photoram-2xs, .photoram-xs, .photoram-3xs {
  background-color: white;
  /* animation: updown 3s linear infinite; */
}

.carousel-item {
  position: relative;
  height: 91vh;
}

@keyframes updown {
    0% {
        transform: translateY(-18px);
    }
    50% {
        transform: translateY(22px);
    }
    100% {
        transform: translateY(-18px);
    }
}

.react-multiple-carousel__arrow--right::before, .react-multiple-carousel__arrow--left::before {
  color: #C49494;
  font-size: xxx-large;
  font-weight: 900;
}

.react-multiple-carousel__arrow {
  width: 4.5rem;
  height: 4.5rem;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(213, 199, 199, 0.5);
}