.photoram-sm {
  padding: 25px 25px 6rem 25px; 
}

.photoram-xs {
  padding: 20px 20px 5rem 20px; 
}

.photoram-2xs {
  padding: 15px 15px 4rem 15px; 
}

.photoram-sm, .photoram-2xs, .photoram-xs {
  background-color: white;
  /* animation: updown 3s linear infinite; */
}

@keyframes updown {
    0% {
        transform: translateY(-18px);
    }
    50% {
        transform: translateY(22px);
    }
    100% {
        transform: translateY(-18px);
    }
}