@tailwind base;
@tailwind components;
@tailwind utilities;

.pinyon {
  font-family: 'Pinyon Script', cursive !important;
}

.josefin-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
}
.josefin-light-normal {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.josefin-normal {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
span:not(.date-range-picker *) {
  padding-top: 0.2em !important;
}

p:not(.date-range-picker *) {
  padding-top: 0.2em !important;
}

h1:not(.date-range-picker *) {
  padding-top: 0.2em !important;
}

h2:not(.date-range-picker *) {
  padding-top: 0.2em !important;
}

h3:not(.date-range-picker *) {
  padding-top: 0.2em !important;
}
.app-container {
  min-height: 100vh
}
@media screen and (min-width: 1000px) and (max-width: 1800px) {
  body {
    zoom: 80%;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
  }
  .app-container {
    min-height: 125vh
  }
  .chakra-modal__content-container, .chakra-modal__overlay {
    width: 125vw !important;
    height: 125vh !important;
  }
}